:root {
  /* colors */
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);

  --clr-grad-1: hsl(6, 100%, 80%);
  --clr-grad-2: hsl(335, 100%, 65%);
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;

  /* font */
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body {
  min-height: 100vh;
  min-height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--very-dark-blue);
  background-image: url("./assets/images/bg-desktop.png");
  background-repeat: no-repeat;
  background-size: auto 52.5vh;
  background-position: bottom 0 left;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media screen and (max-width: 970px) {
  body {
    background-image: url("./assets/images/bg-mobile.png");
    background-size: cover;
  }
  
}